
.vs/NLogWithILoggerSample/v17/.futdcache.v2
.vs/NLogWithILoggerSample/v17/.futdcache.v2
.vs/NLogWithILoggerSample/v17/.suo
.vs/ProjectEvaluation/nlogwithiloggersample.metadata.v5.2
.vs/ProjectEvaluation/nlogwithiloggersample.projects.v5.2
